<!DOCTYPE html>
<html>
<head>
    <!-- Google Analytics Tracking Code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SGBKTFZY1J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-SGBKTFZY1J');
    </script>
    <!-- End Google Analytics Tracking Code -->
    <title>Enter Password</title>
</head>
<body>
    <form method="post">
        <input type="password" name="password" placeholder="Enter password" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
