<!DOCTYPE html>
<html>
<head>
    <title>Client Company Page</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/template.css" rel="stylesheet">


</head>

<body>

    <div class="container mt-5">

        <img src="static/images/Logo.jpg" alt="" style="width: 200px; height: auto;">
        <br>
        <h1 class="hero-title ms-30 mb-2">Delivery Status Control</h1>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}
        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title mb-2">Update Status</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="tracking_id">Tracking ID</label>
                        <input type="text" id="tracking_id" name="tracking_id" class="form-control" placeholder="Enter tracking ID" required>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" name="status" class="form-control" required>
                            <option value="Placed Order">Placed Order</option>
                            <option value="In Transit">In Transit</option>
                            <option value="Out for delivery">Out for delivery</option>
                            <option value="Delivered">Delivered</option>
                            <!-- Add more status options as needed -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hub">Hub</label>
                        <input type="text" id="hub" name="hub" class="form-control" placeholder="Enter hub" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="card-body">
                <h2 class="card-title mb-2">Download Data</h2>
                <button class="btn btn-primary" id="TrackingdownloadButton">Transaction Status Excel</button>
                <button class="btn btn-primary" id="QuotedownloadButton">Quotes Excel</button>

                <script>
                    document.getElementById("TrackingdownloadButton").addEventListener("click", function() {
                        // Assuming you have a PHP script that handles the file download
                        var downloadUrl = "download_ts_excel";
                        window.location.href = downloadUrl;
                    });
                    document.getElementById("QuotedownloadButton").addEventListener("click", function() {
                        // Assuming you have a PHP script that handles the file download
                        var downloadUrl = "download_q_excel";
                        window.location.href = downloadUrl;
                    });
                    </script>
            </div>
        </div>
    </div>

    <!-- Link to Bootstrap JS and jQuery (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
